.tableContainer caption{
    font-weight: 700;
}
.tableContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border:0px solid red;
}
.tableContainer table thead th{
    padding:5px
}
@media screen and (width<=600px) {
    .tableContainer table thead{
        display: none;
    }
    
}